<div class="navbar"><p><%= link_to "CANCEL", cocktail_path(@cocktail), class: "btn-navbar" %></p></div>

<div class="container">
  <h1>Add ingredient to <%= @cocktail.name %></h1>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient, prompt: "Select one"%>
    <%= f.input :description , label: "Dose", placeholder: "example: 8 oz"%>
    <%= f.button :submit, "Save", class: "btn-navbar mt-4" %>
  <% end %>
</div>
