<div class="container">
  <h1>Add an ingredient to <%= @cocktail.name %></h1>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient, prompt: "Select one"%>
    <%= f.input :description , label: "Dose", placeholder: "example: 8 oz"%>
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
  <% end %>
  <br />
  <%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-secondary" %>
</div>
